@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
:root {
  --bg-col: hsl(228, 33%, 97%);
  --white: hsl(0, 0%, 100%);
  --light-grayish-blue: hsl(239, 58%, 95%);
  --moderate-blue: hsl(238, 40%, 52%);
  --very-light-grayish-blue: hsl(223, 19%, 87%);
  --light-gray: hsl(223, 19%, 93%);
  --text-color: hsl(211, 10%, 45%);
  --dark-blue: hsl(238, 40%, 52%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

span {
  font-size: 14px;
  color: var(--moderate-blue);
  font-weight: 700;
}

button {
  outline: none;
  border: none;
}
button:hover {
  cursor: pointer;
  opacity: 90;
}

p {
  font-size: 16px;
  color: var(--text-color);
}

body {
  background-color: var(--bg-col);
  font-family: "Rubik", sans-serif;
  position: relative;
  overflow: hidden;
  height: 100vh;
}
body .main {
  margin: 24px auto;
  overflow-y: auto;
  padding-top: 24px;
  height: calc(100vh - 140px);
  overflow-y: scroll;
}
body .main .container {
  display: flex;
  margin: 0 auto;
  max-width: 600px;
  border-radius: 6px;
  padding: 16px;
  background-color: var(--white);
}
body .main .card {
  box-shadow: 0 1px 1px 0 rgb(167, 167, 167);
  margin-bottom: 1.25rem;
}
body .main .card .control {
  margin: 0 16px 0 4px;
  padding: 8px;
  height: 80px;
  background-color: var(--light-grayish-blue);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
body .main .card .control button {
  background-color: transparent;
  color: var(--very-light-grayish-blue);
  font-weight: 700;
  font-size: 24px;
}
body .main .card .control button:hover, body .main .card .control button:active {
  color: var(--moderate-blue);
}
body .main .card .user-info-action {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}
body .main .card .user-info-action div {
  margin-bottom: 8px;
}
body .main .card .user-info-action div .user-details {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
}
body .main .card .user-info-action div .user-details .name {
  font-weight: 600;
  color: black;
}
body .main .card .user-info-action div .user-details .name:hover {
  cursor: pointer;
  text-decoration: underline;
}
body .main .card .user-info-action div .user-details img {
  width: 28px;
}
body .main .card .user-info-action .reply-action button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  gap: 6px;
}
body .main .card .text-container {
  margin-bottom: 6px;
}
body .main .card .text-container p {
  color: hsl(211, 10%, 45%);
}
body .main .position {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: var(--bg-col);
  left: -9px;
}
body .main .position .form {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
body .main .position .form img {
  width: 40px;
  height: 40px;
}
body .main .position .form textarea {
  width: 75%;
  border: 2px solid var(--light-grayish-blue);
  display: inline-block;
  border-radius: 4px;
  font-family: inherit;
  font-size: 16px;
  padding: 8px 8px 0;
  outline: none;
  resize: none;
}
body .main .position .form button {
  background: var(--dark-blue);
  width: 80px;
  display: inline;
  height: 40px;
  text-transform: uppercase;
  color: var(--white);
  font-size: 14px;
  font-weight: 500;
  border-radius: 4px;
}
body .main .position .attribution {
  font-size: 11px;
  text-align: center;
  margin: 18px 0;
}
body .main .position .attribution a {
  color: hsl(228, 45%, 44%);
}

/*# sourceMappingURL=styles.css.map */
