{{! What goes inside of a partial is just like with any component its not supposed to have every structure just ths ones required for speed }}

<h1>{{title}}</h1>

<div>
  <a href="/">Weather</a>
  <a href="/about">About</a>
  <a href="/help">Help</a>
</div>