<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/styles.css" />

<link rel="shortcut icon" href="../../img/notification-bell.svg" type="image/x-icon">
    <title>{{title}}</title>  </head>
  <body>
     <div class="main-content">  
        {{>header}}
        <div class="position"><img src="../../img/photo_2024-11-07_06-17-01.jpg" alt="My image" class="potrait" /> 
        <div>
          <h2>Hi there ✌</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, distinctio. Hic eaque, nam modi, error nihil aliquid quidem ratione quaerat beatae, numquam adipisci commodi molestias! Cupiditate ullam quae dolor consequatur natus. Tenetur, veniam aperiam id officia pariatur ad corporis quae.</p>
        </div></div>
     </div>
    {{>footer}}

  </body>
</html>