<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/styles.css" />
    <script src="./js/app.js" defer></script>
    <link rel="shortcut icon" href="../../img/notification-bell.svg" type="image/x-icon">
    <title>Weather App</title>
  </head>
  <body>
    <div class="main-content">
      {{> header}}

      <p>Use this site to Get your weather!</p>

      <form action="">
        <input type="text" placeholder="location">
        <button type="submit">Search</button>
      </form>


     <div class="container">
       <p id="message-one"></p>
      <p id="message-two"></p>
      </div>
    </div>
    {{> footer}}
  </body>
</html>